.main {
    height: 80vh;
}

.contact-container {
    width: 80vw;
    margin-top: 3rem;
    background-color: rgba(92,117,146,.9);
}

.text {
    color: #223142;
    margin-top: 2.5rem;
}

h3 {
    font-size: 1.1rem;
    padding: 0 10px;
}

label {
    color: #212529;
}

.btn-success {
    background-color: #344d67;
}

.input {
    width: 68vw;
}

.input:focus {
    outline: none !important;
    border:1px solid #344d67;
    box-shadow: 0 0 10px #223142;
}

textarea:focus {
    outline: none !important;
    border:1px solid #344d67;
    box-shadow: 0 0 10px #223142;
}