.container-home{
    background-color: rgba(255, 255, 255,0.9);
    justify-self: center;
}

.h-1 {
    padding-top: 0.5rem;
    font-size: 1.3rem;
}

h2 {
    color: #6eccaf;
}

p {
    margin-bottom: 0;
}

.home-buttons {
    gap: 20px;
    padding: 0;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li a:hover {
    color: #344d67 !important;
    background-color: #6eccaf !important;
}

@media (min-width: 768px) {
    .container-home {
        width: 600px;
        height: 600px;
    }

    .h-1 {
        font-size: 40px;
        margin-top: 67px;
    }

    h2 {
        color: #344d67;
    }

    .home-buttons {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
/* en este caso defini el color en index.css y en Home.css
queda el de Home, por que es el "ultimo" definido.
Esto hablando de gerarquia en caso que en dos componentes definamos el mismo selector en ambos archivos */